* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(17, 17, 17);
    overflow-x: hidden; /* Temporary Solution for Overflow Juggad */
}

nav {
    height: 84px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav span {
    width: 179px;
}

.icons i {
    padding: 0 5px;
}

div.welcome {
    height: 840px;
    background: rgba(0,0,0,0.75)url('./Images/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    overflow: hidden;
}

.welcome .text {
    width: 768px;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    height: 100%;
}

.welcome .text h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 5rem;
}

.welcome .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 15px;
}

.welcome .text a {
    text-decoration: none;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 15px 20px;
    font-size: 1.3rem;
}

.services {
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.services h2 {
    font-size: 3rem;
    text-align: center;
    justify-self: flex-start;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards .card {
    width: 500px;
    text-align: center;
}

.cards .card h3 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 1rem;
}

.cards .card p {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 450px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.services .cards .card a {
    text-decoration: none;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 12px 18px;
    font-size: 1.1rem;
}

.reviews {
    height: 350px;
    background-color: rgb(34, 34, 34);
}

.reviews .review {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.reviews .review .rev-text {
    width: 50%;
    font-size: 32px;
    line-height: 40px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
}

.reviews .review .rev-name {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.about {
    height: 1060px;
    overflow: hidden;
}

.about .about-text {
    height: 400px;
    width: 78%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h2,
.location .loc-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about h2.he-te {
    margin-top: 20px;
}

.about .about-text p,
.context p,
.location .loc-text p {
    font-size: 1.3rem;
}

.team,
.sli,
.p-1,
.p-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.sli {
    flex-wrap: wrap;
}

.team {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 50px;
    background-color: rgb(51, 51, 51);
}

.karan, .kamli, .gaju, .kaka {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 455px;
    width: 270px;
    padding: 30px;
    background-color: rgb(245, 245, 245);
}

.team h3, 
.team p,
.team span {
    padding-top: 20px;
    color: black;
}

.team span {
    /* display: block; */
    font-size: 19px;
    align-self: flex-end;
    font-weight: 700;
    letter-spacing: .25px;
}

.contact-section {
    height: 600px;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 150px;
}

.context {
    width: 500px;
    text-align: center;
}

.context .icons {
    margin-top: 26px;
}

.context .icons i {
    font-size: 2rem;
}

.container h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.container form {
    width: 720px;
    display: flex;
    flex-direction: column;
}

.container .row100 {
    display: flex;
    width: 100%;
    gap: 20px;
}

.container .row100 .col {
    width: 100%;
    margin: 30px 0 20px;
}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
    /* width: 100%; */
    height: 100%;
    font-size: 17px;
    padding: 3px 10px;
    z-index: 1;
    color: #000;
    resize: none;
}

.container .row100 .col .inputBox .text {
    line-height: 40px;
    font-size: 19px;
    padding: 0 10px;
    display: block;
    pointer-events: none;
}

.container .row100 .col .inputBox.textarea {
    width: 100%;
    height: 150px;
    padding: 5px 0;
    padding-right: 10px !important;
}

.container .row100 .col .inputBox.textarea textarea {
    width: 97% !important;
}

.container .row100 .col input[type="submit"] {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 15px 20px;
    font-size: 1.3rem;
}

.popup {
    width: 400px;
    padding: 0 30px 30px;
    border-radius: 6px;
    color: #fff;
    background: #333;
    text-align: center;
    z-index: 5;
    overflow: visible;
    display: none;
    transition: transform 0.4s, top 0.4s;
    position: absolute;
    left: 50%; 
}

.open-popup {
    display: block;
    top: 3350px;
    /* top: 50%; */
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0 20px;
    text-shadow: none;
}

.popup button {
    width: 100%;
    margin-top: 30px;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 10px 0px;
    font-size: 1.2rem;
}

footer {
    background-color: rgb(63, 92, 145);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 30px 100px;
}

.cpyrgt .cpy {
    margin: auto;
    width: 94%;
    padding: 10px 0;
    text-align: center;
}

.location {
    height: 100%;
    background-color: rgb(51, 51, 51);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.location .loc-text {
    width: 30%;
}

@media (max-width: 1500px) {
    .services {
        height: 1330px;
    }
    
    .services h2,
    .about h2 {
        font-size: 40px;
    }
    
    .cards {
        gap: 50px;
    }
    
    .cards .card h3 {
        font-size: 28px;
    }
    
    .services .cards .card a {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (max-width: 1410px) {
    .about {
        height: 1610px;
    }
    
    .open-popup {
        top: 4480px;
    }
}

@media (max-width: 1250px) {
    .about .about-text {
        height: 420px;
    }
}

@media (max-width: 1180px) {
    .reviews {
        height: 380px;
    }

    .contact-section {
        height: 850px;
    }

    .container {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .open-popup {
        top: 4600px;
    }
}

@media (max-width: 1050px) {
    .services {
        height: 1960px;
    }

    .reviews {
        height: 360px;
    }
    
    .reviews .review .rev-text {
        width: 50%;
        font-size: 28px;
        line-height: 30px;
    }
    
    .reviews .review .rev-name {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .about {
        height: 1570px;
    }
    
    .about .about-text {
        height: 360px;
    }

    .about .about-text p,
    .location .loc-text p {
        font-size: 1rem;
    }

    .open-popup {
        top: 5200px;
    }

    .location .loc-text h2 {
        font-size: 2.4rem;
    }
}

@media (max-width: 900px) {
    nav {
        justify-content: center;
    }

    nav .icons,
    nav span {
        display: none;
    }
    
    div.welcome {
        height: 800px;
        background-position: center;
    }

    .welcome .text {
        width: 500px;
        margin-left: 3rem;
    }
    
    .welcome .text h2 {
        font-size: 58px;
        line-height: 4rem;
    }
    
    .welcome .text p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
    .welcome .text a {
        padding: 12px 18px;
        font-size: 1.1rem;
    }

    .services {
        height: 1980px;
    }

    .reviews {
        height: 330px;
    }
    
    .reviews .review .rev-text {
        width: 50%;
        font-size: 22px;
        line-height: 30px;
    }
    
    .reviews .review .rev-name {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
    }

    .about {
        height: 1600px;
    }

    .about .about-text {
        height: 400px;
    }

    .p-1, .p-2 {
        flex-wrap: wrap;
    }
    
    .sli, .p-1, .p-2 {
        gap: 20px;
    }

    footer {
        padding: 30px 80px;
    }

    footer .icons i {
        padding: 0 2px;
    }

    .location {
        flex-direction: column-reverse;
        
    }

    .location iframe {
        width: 80%;
    }

    .location .loc-text {
        width: 60%;
    }

    .location .loc-text h2 {
        margin-bottom: 10px;
    }
}

@media (max-width: 740px) {
    .about {
        height: 1640px;
    }

    .about .about-text {
        height: 450px;
    }

    .sli, .p-1, .p-2 {
        gap: 10px;
    }
    
    .contact-section {
        height: 1130px;
    }

    form {
        align-items: center;
        justify-content: center;
    }

    .container .row100 {
        width: 350px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 !important;
    }
    
    .contact-section {
        height: 890px;
    }

    .context p {
        font-size: 1rem;
    }

    .context .icons i {
        font-size: 1.5rem;
    }

    .container h3 {
        font-size: 1.5rem;
    }

    .row100 .col {
        margin: 10px 0 10px !important;
    }

    .row100 .col.submit {
        margin-top: 50px !important;
    }
    
    .popup {
        width: 250px;
    }
    
    .popup h2 {
        font-size: 32px;
        font-weight: 500;
        margin: 20px 0 20px;
        text-shadow: none;
    }
}

@media (max-width: 670px) {
    .reviews {
        height: 350px;
    }

    .about {
        height: 2680px;
    }

    .open-popup {
        top: 6300px;
    }
}

@media (max-width: 550px) {
    div.welcome {
        height: 920px;
    }

    .welcome .text {
        width: 300px;
        margin-left: 1.7rem;
    }
    
    .welcome .text h2 {
        font-size: 42px;
        line-height: 2.8rem;
    }
    
    .welcome .text p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    
    .welcome .text a {
        padding: 12px 18px;
        font-size: 1.1rem;
    }
    
    .services {
        overflow: hidden;
        height: 1880px;
    }

    .services h2,
    .about h2,
    .location .loc-text h2 {
        font-size: 40px;
    }

    .cards .card {
        width: 380px;
        text-align: center;
    }

    .cards .card img {
        height: 200px;
    }

    .card.off img {
        width: 300px;
    }

    .cards .card h3 {
        font-size: 20px;
    }

    .cards .card p {
        width: 350px;
    }

    .reviews {
        height: 360px;
    }
    
    .reviews .review .rev-text {
        width: 70%;
        font-size: 20px;
        line-height: 30px;
    }
    
    .reviews .review .rev-name {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
    }

    .about {
        height: 2750px;
    }

    .about .about-text {
        width: 88%;
        /* text-align: justify; */
        height: 650px;
    }

    .team img {
        height: 200px !important;
    }
    
    .karan, .kamli, .gaju, .kaka {
        height: 420px;
        width: 220px;
    }

    .team h3, 
    .team p,
    .team span {
        padding-top: 10px;
        color: black;
    }
    
    .popup {
        height: 200px;
        width: 200px;
    }
    
    .popup h2 {
        font-size: 25px;
    }

    footer {
        font-size: 25px;
        padding: 30px 50px;
    }

    footer .icons i {
        padding: 0;
    }

    .location iframe {
        width: 88%;
    }

    .location .loc-text {
        width: 80%;
    }
}

@media (max-width: 420px) {
    .cpyrgt .cpy {
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    footer {
        font-size: 20px;
    }
    
    .cpyrgt .cpy {
        font-size: 0.8rem;
    }
}

@media (min-width: 1500px) {
    .welcome .text {
        width: 820px;
        margin-left: 7rem;
    }
}

@media (min-width: 1550px) {
    .welcome .text {
        width: 880px;
        margin-left: 15rem;
    }
}