* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(17, 17, 17);
    overflow-x: hidden; /* Temporary Solution for Overflow Juggad */
}

nav {
    height: 84px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav span {
    width: 179px;
}

.icons i {
    padding: 0 5px;
}

div.welcome {
    height: 840px;
    background: rgba(0,0,0,0.75)url('./Images/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.welcome .text {
    width: 768px;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    height: 100%;
}

.welcome .text h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 5rem;
}

.welcome .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 15px;
}

.welcome .text a {
    text-decoration: none;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 15px 20px;
    font-size: 1.3rem;
}

.services {
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services h2 {
    font-size: 3rem;
    text-align: center;
    justify-self: flex-start;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards .card {
    width: 500px;
    text-align: center;
}

.cards .card h3 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 1rem;
}

.cards .card p {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 450px;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.services .cards .card a {
    text-decoration: none;
    background-color: rgb(126, 175, 211);
    color: rgb(17, 24, 39);
    padding: 12px 18px;
    font-size: 1.1rem;
}

@media (max-width: 1500px) {
    .services {
        height: 1230px;
    }
    
    .services h2 {
        font-size: 40px;
    }
    
    .cards {
        gap: 50px;
    }
    
    .cards .card h3 {
        font-size: 28px;
    }
    
    .services .cards .card a {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (max-width: 1050px) {
    .services {
        height: 1760px;
    }
}

@media (max-width: 900px) {
    nav {
        justify-content: center;
    }

    nav .icons,
    nav span {
        display: none;
    }
    
    div.welcome {
        background-position: center;
    }

    .welcome .text {
        width: 500px;
        margin-left: 3rem;
    }
    
    .welcome .text h2 {
        font-size: 58px;
        line-height: 4rem;
    }
    
    .welcome .text p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
    .welcome .text a {
        padding: 12px 18px;
        font-size: 1.1rem;
    }
}

@media (max-width: 550px) {
    div.welcome {
        height: 680px;
    }

    .welcome .text {
        width: 300px;
        margin-left: 1.7rem;
    }
    
    .welcome .text h2 {
        font-size: 42px;
        line-height: 2.8rem;
    }
    
    .welcome .text p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    
    .welcome .text a {
        padding: 12px 18px;
        font-size: 1.1rem;
    }
    
    .services {
        overflow: hidden;
        height: 1600px;
    }

    .services h2 {
        font-size: 40px;
    }

    .cards .card {
        width: 380px;
        text-align: center;
    }

    .cards .card img {
        height: 200px;
    }

    .card.off img {
        width: 300px;
    }

    .cards .card h3 {
        font-size: 20px;
    }

    .cards .card p {
        width: 350px;
    }
}